name: Deploy to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      POETRY_VIRTUALENVS_CREATE: "false"
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Update pyproject.toml version to ${{ github.event.release.tag_name }}
        run: |
          python3 ${{ github.workspace }}/.github/scripts/update_poetry_version_stamp.py --version ${{ github.event.release.tag_name }}

      - name: Commit manifest update
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./pyproject.toml
          git commit -m "Updated pyproject.toml version to ${{ github.event.release.tag_name }}" || echo "No changes to commit"
          git push origin HEAD:main

      - name: Install poetry
        run: |
          pipx install poetry
          pipx inject poetry poetry-bumpversion

      - name: Build
        run: |
          poetry build

      - name: Publish
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish
